#carrinho, #produtos {
    float: left;
    width: 45%;
    margin-right: 5%;
}

#carrinho ul, #produtos ul {
    list-style-type: none;
    padding: 0;
}

#carrinho li, #produtos li {
    margin-bottom: 10px;
}

#carrinho button.adicionar {
    float: right;
}